$text-color: black;
$headerBgColor:#c13b39;
$border-color: #ddd;

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: $headerBgColor;
  color:white;
  height: 153px;
  h1{
      margin-top: 38px;
  }
}

.box{
    margin-top: -38px;
    padding: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background: white;
    &.second{
        margin-top: 38px;
    }
}

.filter-container{
    padding-bottom: 40px;
}

.table-container{
    max-height: 313px;
    overflow: auto;
}
table tbody tr{
    cursor:pointer;
}
